/* ==========================================================================
   #Spacer
   ========================================================================== */

@import "../../../styles/settings/settings.global";
@import "../../../styles/tools/tools.functions";

.spacer {
    margin-bottom: rem-calc($base-spacing-unit);
}


/* Style variants
   ========================================================================== */

.spacer--tiny {
    margin-bottom: rem-calc($base-spacing-unit-tiny);
}

.spacer--small {
    margin-bottom: rem-calc($base-spacing-unit-small);
}

.spacer--large {
    margin-bottom: rem-calc($base-spacing-unit-large);
}

.spacer--huge {
    margin-bottom: rem-calc($base-spacing-unit-huge);
}

