/* ==========================================================================
   #TYPOGRAPHY
   ========================================================================== */

// Use '!important' deliberately here – we always want trump classes to take.

/* Font weights
   ========================================================================== */

.u-font-heavy {
  font-weight: bold !important;
}

.u-font-light {
  font-weight: normal !important;
}


/* Adjustments
   ========================================================================== */

/**
 * ‘Can you just make that text a little bigger?’
 *
 * Example usage:
 * <p class="u-text++">A little bit bigger.</p>
 */

.u-text\+\+ {
  font-size: larger !important;
}

.u-text-- {
  font-size: smaller !important;
}


/* Headings
   ========================================================================== */

.u-h1 {
  @include font-size($font-size-1, none, "important");
}

.u-h2 {
  @include font-size($font-size-2, none, "important");
}

.u-h3 {
  @include font-size($font-size-3, none, "important");
}

.u-h4 {
  @include font-size($font-size-4, none, "important");
}

.u-h5 {
  @include font-size($font-size-5, none, "important");
}

.u-h6 {
  @include font-size($font-size-6, none, "important");
}
