/* ==========================================================================
   #TOP-LEVEL
   ========================================================================== */

html {
	font-size: $base-font-size;
}

body {
	background-color: $colour-one;
	color: $base-text-colour;
	font-family: $font-fallback;
	letter-spacing: 0.025em;
	overflow-x: hidden;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	@include font-size($base-font-size, $base-line-height);

	.fonts-loaded & {
		font-family: $font-primary;
	}
}
