/* ==========================================================================
   #Anchor
   ========================================================================== */

@import "../../../styles/settings/settings.global";

.anchor {
  color: $colour-four;
  display: inline-block;
  font-weight: 600;
  text-decoration: underline;
}