/* ==========================================================================
   #Anchor
   ========================================================================== */

@import "../../../styles/settings/settings.global";

/**
 * 1. These are technically the same, but use both because
 *    some browsers implement one and not the other
 * 2. Non-standard for Webkit
 * 3. Adds a hyphen where the word breaks, if supported (No Blink)
 */
.anchor {
  color: $colour-four;
  display: inline-block;
  font-weight: 600;
  text-decoration: underline;
  overflow-wrap: break-word; /* [1] */
  word-wrap: break-word; /* [1] */
  word-break: break-word; /* [2] */
  hyphens: auto; /* [3] */
}