/* ==========================================================================
   #SETTINGS: TYPOGRAPHY
   ========================================================================== */

/* Webfonts
   ========================================================================== */

@font-face {
    font: {
        family: 'Lobster';
        style: normal;
        weight: 400;
    }
    src: url(/fonts/lobster-regular.woff2) format("woff2"),
         url(/fonts/lobster-regular.woff) format("woff");
}

// Fallback to system font stack.

$font-fallback: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol" !default;
$font-primary: 'Lobster', Helvetica, sans-serif !default;


/* Responsive typography parameters
   ========================================================================== */

// These are used in the `fluid-type` mixin.

$min-vw: 320px !default;
$max-vw: 1024px !default;


/* Typographic scale
   ========================================================================== */

// Major third typographic scale.

$font-size-1: 39px !default;
$font-size-2: 31px !default;
$font-size-3: 25px !default;
$font-size-4: 20px !default;
$font-size-5: 16px !default;
$font-size-6: 12px !default;
$font-size-7: 10px !default;
$font-size-8: 8px  !default;

