/* ==========================================================================
   #Wrapper
   ========================================================================== */

@import "../../../styles/settings/settings.global";
@import "../../../styles/tools/tools.functions";

// Ensure these settings are configured before the @import of this file.
$wrapper-max-width: 980px !default;

.wrapper {
  display: block;
  margin: 0 auto;
  max-width: $wrapper-max-width;
  padding: 0 rem-calc($base-spacing-unit);
  position: relative;
}