/* ==========================================================================
   #Footer
   ========================================================================== */

@import "../../styles/settings/settings.global";
@import "../../styles/tools/tools.functions";

.footer {
  border-top: 1px solid lighten($colour-three, 50%);
  padding: rem-calc($base-spacing-unit) 0;
  text-align: center;
}